<footer>
    <div class="wrapper">
        <div class="column">
            <h4>Conócenos</h4>
            <ul>
                <li>Nosotros</li>
                <li>Sedes y clínicas</li>
                <li>Promociones Oncosalud</li>
            </ul>
        </div>
        <div class="column">
            <h4>Nuestros servicios</h4>
            <ul>
                <li>Oncoplus</li>
                <li>Oncoclásico Pro</li>
                <li>Oncoflex</li>
                <li>¿Cómo activar mi programa?</li>
                <li>Diagnóstico de Cáncer de piel</li>
            </ul>
        </div>
        <div class="column">
            <h4>Transparencia</h4>
            <ul>
                <li>Políticas de Privacidad</li>
                <li>Términos y Condiciones</li>
                <li>Solicitudes ARCO</li>
                <li>Fines adicionales</li>
                <li>Políticas de Calidad Oncosalud - IAFAS</li>
            </ul>
        </div>
        <div class="column">
            <h4>Estamos para ayudarte</h4>
            <ul>
                <li>Teléfono: (01) 513-7900 </li>
                <li>Libro de reclamaciones</li>
            </ul>

            <br>
            <h4>NUESTRAS REDES</h4>
            <div class="social-network">
                
            </div>
        </div>
    </div>
</footer>

<style>
    footer{
        padding: 48px 0px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    .wrapper .column h4{
        font-size: 14px;
        letter-spacing: 1px;
        color: var(--primary-700);
        text-transform: uppercase;
        text-align: left;
    }

    .wrapper .column ul{
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;

        font-weight: 200;
        color: var(--text-gray);

        margin-top: 8px;
    }

    .wrapper .column ul li{
        font-weight: 300;
    }

</style>